body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif
}
/*TODO: ENCABEZADOS DEL HEADER*/
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #f6ac35;
    min-height: 110px;
    margin: 0;
}
header .container__header{
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    margin-right: 0;
    margin-left: 0;
    font-size: 10px;
    text-align: center;
    display:flex;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 150px;
    width: 300px;
    margin-left: 20px;
}

nav {
    margin-top: 16px;
    display:flex;
    align-items:center;
    text-align: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-wrap: wrap;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 18px;
    font-weight: 500;
    transition: color 0.2s;
    padding-right: 15px;
    font-family: 'Times New Roman', Times, serif;
}

nav a:hover {
    color: #d43e1d;
}

/*TODO: Aquí va la asignación de colores para el Footer*/
footer {
    text-align: center;
    padding: 18px 0;
    background: #701875;
    color: #fff;
    margin-top: 48px;
    font-size: 1rem;
    letter-spacing: 1px;
    border-top: 1px solid #eaeaea;
    min-width: 100px;
    height: auto;
    padding: 2rem 0;
}
.footer__container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.footer__container p{
    font-family: 'Times New Roman', Times, serif;
    
}
/* Columnas internas */
.footer__info,
.footer__links,
.footer__terms {
    flex: 1 1 300px;
}

/* Enlaces */
.footer__links a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__links a:hover {
    text-decoration: underline;
    border-color:#6e0990
}

/*!: Con esto pondremos estilos al body - container*/
body .container p-5 my-5 bg-dark text-white{
    background-color: #343a40;
    color: #ffffff;
    padding: 0;
    border: #6e0990;
}